/* fira-sans-300 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-500 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-600 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-700 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-900 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* { font-family: 'Fira Sans',sans-serif; 
  font-weight: 500;
}

@keyframes peekaboo {
	from {transform: rotateX(90deg)}
	to {transform: none}
}

/* animations is harder than i remember*/

body,
html {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	top: 0;
	left: 0
}

:focus {
	outline: none;
}

.lista li:focus{
	background-color: #117777;
	color: white;
}


ul.lista{

height: calc(100% - 60px);
overflow: auto;
overflow-x: hidden;
/*! transform: translateY(calc(-100% - -41px)); */
position: fixed;
width: 100%;
/*! transition: all ease 0.3s; */
}



#path_root {
	overflow-x: hidden;
	box-sizing: border-box;
	padding-top: 7px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border:none;
	border-bottom: blue solid 2px;
	position: fixed;
	top: 0
}

#path_root label {
  transform: translateY(-3px);
  padding-left: 5px;
  padding-right: 24px;
}


ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

#deviceStoragesList{
	position: fixed;
	opacity: 0;
}

.lista li {
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 10px;
	height: 42px;
font-size: 16px;
padding-top: 10px;
box-sizing: border-box;
animation: 0.5s ease fadeout;
	text-overflow: ellipsis;
}

@keyframes fadeout {
	from {
		opacity: 0;
		transform: rotateY(-90deg) translateZ(125px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}



/* ----------------------------------
 * CHECKBOXES / RADIOS
 * ---------------------------------- */

 label:not([for])  {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  width: 2rem;
  position: relative;
  background: none;
  box-sizing: border-box;
  transform: translateY(2px);
}

label:not([for]) input[type="checkbox"],
label:not([for]) input[type="radio"] {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

label:not([for]) input + span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.0rem 0 0 -1.0rem;
  width: 1.6rem;
  height: 1.6rem;
  pointer-events: none;
}


label:not([for]) input:checked + span {
  background-position: center bottom;
}



label:not([for]) input[type="checkbox"] + span.folder {
	background: url(images/folder.svg) no-repeat center;
}

li:focus label:not([for]) input[type="checkbox"] + span.folder {
	filter: invert(100%);
}

label:not([for]) input[type="checkbox"] + span.doc {
	background: url(images/doc.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.xls {
	background: url(images/xls.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ppt {
	background: url(images/ppt.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.psd {
	background: url(images/psd.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ai {
	background: url(images/ai.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.pdf {
	background: url(images/pdf.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.html {
	background: url(images/html.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.xml {
	background: url(images/xml.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.txt {
	background: url(images/txt.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.mp3 {
	background: url(images/mp3.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ogg {
	background: url(images/ogg.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.jpg {
	background: url(images/jpg.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.png {
	background: url(images/png.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.zip {
	background: url(images/zip.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.unk {
	background: url(images/unk.png) no-repeat center;
}

label span.home {
	height: 20px!important;
}

span.home {
	width: 25px;
	display:block;
	background: url(images/home.png) no-repeat center;
}

.softkeys,
.softkeys-icon {
	position: fixed;
	bottom: 0;
	box-sizing: border-box;
	padding: 2.5px;
	column-gap: 5px;
	grid-gap: 5px;
	display: grid;
	height: 30px;
	background: #cccccc;
	color: #323232;
	width: 100%;
	margin: 0;
	z-index: 205 !important;
	border-top: 2px solid #cccccc;
}

.softkey {
	overflow: hidden;
	vertical-align: middle;
	height: 20px;
	margin: 0;
	text-overflow: ellipsis;
}



.softkey-left {
	font-size: 14px;
	font-weight: 600;
	text-align: start;
	text-transform: none;
	margin: 0;
	padding-left: 5px;
	letter-spacing: -.5px
}

.softkey-center {
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 0 4.9px
}

.softkey-right {
	font-size: 14px;
	font-weight: 600;
	text-align: end;
	text-transform: none;
	margin: 0;
	letter-spacing: -.5px
}

@media (width:240px) {
	.softkeys {
		grid-template-columns: 62px 96px 62px
	}
}

@media (width:320px) {
	.softkeys {
		grid-template-columns: 105px 90px 105px
	}
}