/* fira-sans-300 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-500 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-600 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-700 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-900 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* { font-family: 'Fira Sans',sans-serif; 
  font-weight: 500;
}

@keyframes peekaboo {
	from {transform: rotateX(-90deg)}
	to {transform: none}
}

/* animations is harder than i remember*/

body,
html {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	top: 0;
	left: 0
}

:focus {
	outline: none;
}

/*

.lista li:focus{
	background-color: #117777;
	color: white;
}




.lista li {
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 10px;
	height: 48px;
font-size: 16px;
padding-top: 14px;
box-sizing: border-box;
text-overflow: ellipsis;
opacity: 0;
}

*/

ul.lista{

	height: calc(100% - 60px);
	overflow: auto;
	overflow-x: hidden;
	position: fixed;
	width: 100%;
	
	}

#path_root {
	overflow-x: hidden;
	box-sizing: border-box;
	padding-top: 7px;
	white-space: nowrap;
	text-overflow: ellipsis;

	position: fixed;
	top: 0
}

#heaten {
	border:none;
	border-bottom: rgba(0,0,0,0.1) solid 1px
}

#path_root label {
	position: fixed;
	top: 3px;
	left: 5px;
}

#path_root div {
	width: calc(100% - 40px);
display: block;
overflow: hidden;
white-space: nowrap;
	position: fixed;
	top: 6px;
	left: 33px;
	text-overflow: ellipsis;
}


ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

#deviceStoragesList{
	margin-left: 31px;
	margin-top: 2px;
	display: inline-block;
}



/* cringe animations */

.anim0 {
	animation: 0.3s ease fadein-right forwards;
}
.anim1 {
	animation: 0.3s ease fadein-left forwards;
}
.anim2 {
	animation: 0.3s ease fadein-top forwards;
}
.anim3 {
	animation: 0.3s ease fadeout-left forwards;
}
.anim4 {
	animation: 0.3s ease fadeout-right forwards;
}
.anim5 {
	animation: 0.2s ease fadeout forwards;
}

.anim6 {
	animation: 0.3s ease outYouGo forwards !important;
}

@keyframes outYouGo {
	from {
		box-shadow: 0 0 0 800px rgba(0, 0, 0, .8);
		transform: none;
		opacity: 1
	}

	to {
		box-shadow: 0 0 0 800px transparent;
		transform: translateY(500px);
		opacity: 0
	}
}

@keyframes fadein-right {
	from {
		opacity: 0;
		transform: rotateY(-90deg) translateZ(240px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadein-left {
	from {
		opacity: 0;
		transform: rotateY(90deg) translateZ(240px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadein-top {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeout-left {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: rotateY(-90deg) translateZ(240px);
		
	}
}

@keyframes fadeout-right {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: rotateY(90deg) translateZ(240px);
		
	}
}

@keyframes fadeout {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fadein-toop {
	from {
		opacity: 0;
		transform: translateY(500px);
		box-shadow: 0 0 0 800px transparent;
	}
	to {
		opacity: 1;
		box-shadow: 0 0 0 800px rgba(0, 0, 0, .8);
		transform: none;
	}
}

.windows8 {
	position: relative;
	width: 44px;
	height:44px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 42px;
	height: 42px;
	opacity: 0;
	transform: rotate(225deg);
	animation: orbit 5.4425s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 5px;
	height: 5px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 5px;
}

.windows8 #wBall_1 {
	animation-delay: 1.186s;
}

.windows8 #wBall_2 {
	animation-delay: 0.233s;
}

.windows8 #wBall_3 {
	animation-delay: 0.4765s;
}

.windows8 #wBall_4 {
	animation-delay: 0.7095s;
}

.windows8 #wBall_5 {
	animation-delay: 0.953s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}


/* ----------------------------------
 * CHECKBOXES / RADIOS
 * ---------------------------------- */

 label:not([for])  {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  width: 2rem;
  position: relative;
  background: none;
  box-sizing: border-box;
  transform: translateY(2px);
}

label:not([for]) input[type="checkbox"],
label:not([for]) input[type="radio"] {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

label:not([for]) input + span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.0rem 0 0 -1.0rem;
  width: 1.6rem;
  height: 1.6rem;
  pointer-events: none;
}


label:not([for]) input:checked + span {
  background-position: center bottom;
}



label:not([for]) input[type="checkbox"] + span.folder {
	background: url(images/folder.svg) no-repeat center;
}

li:focus label:not([for]) input[type="checkbox"] + span.folder {
	filter: invert(100%);
}

label:not([for]) input[type="checkbox"] + span.doc {
	background: url(images/doc.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.xls {
	background: url(images/xls.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ppt {
	background: url(images/ppt.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.psd {
	background: url(images/psd.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ai {
	background: url(images/ai.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.pdf {
	background: url(images/pdf.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.html {
	background: url(images/html.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.xml {
	background: url(images/xml.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.txt {
	background: url(images/txt.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.mp3 {
	background: url(images/mp3.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ogg {
	background: url(images/ogg.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.jpg {
	background: url(images/jpg.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.png {
	background: url(images/png.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.zip {
	background: url(images/zip.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.unk {
	background: url(images/unk.png) no-repeat center;
}

label span.home {
	height: 20px!important;
}

span.home {
	width: 25px;
	display:block;
	background: url(images/home.png) no-repeat center;
}

.softkeys,
.softkeys-icon {
	position: fixed;
	bottom: 0;
	box-sizing: border-box;
	padding: 2.5px;
	column-gap: 5px;
	grid-gap: 5px;
	display: grid;
	height: 30px;
	background: #cccccc;
	color: #323232;
	width: 100%;
	margin: 0;
	z-index: 205 !important;
	border-top: 2px solid #cccccc;
	transition: all ease .3s;
}

.softkey {
	overflow: hidden;
	vertical-align: middle;
	height: 20px;
	margin: 0;
	text-overflow: ellipsis;
}



.softkey-left {
	font-size: 14px;
	font-weight: 600;
	text-align: start;
	text-transform: none;
	margin: 0;
	padding-left: 5px;
	letter-spacing: -.5px
}

.softkey-center {
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 0 4.9px
}

.softkey-right {
	font-size: 14px;
	font-weight: 600;
	text-align: end;
	text-transform: none;
	margin: 0;
	letter-spacing: -.5px
}

@media (width:240px) {
	.softkeys {
		grid-template-columns: 62px 96px 62px
	}
}

@media (width:320px) {
	.softkeys {
		grid-template-columns: 105px 90px 105px
	}
}

/* cringey options menu*/
#upsyun div[upsyun="header"] {
	height: 33px;
	text-align: center;
	box-sizing: border-box;
	padding: 6px;
	background: #cccccc;
	font-size: 17px;
	font-weight: 400;
	color: #323232;
}

#upsyun div[upsyun=content] {
	height: calc(100% - 33px);
	overflow: auto;
}

#upsyun {
	position: fixed;
	z-index: 204 !important;
	width: 100%;
	height: 225px;
	bottom: 30px;
	animation: ease .3s forwards fadein-toop;
	background: white;
}

#upsyun div[upsyun=content] {
	height: calc(100% - 33px);
	overflow: auto;
}
#upsyun div[upsyun="content"] .oops {
	height: 48px;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 400;
	padding-top: 15px;
}

#upsyun div[upsyun="content"] .oops:focus {
	background: #117777;
	color: white;
}

#upsyun div[upsyun="content"] div:not(.oops){
	display: none
}

footer.negro {
	color: white !important;
	background: black !important;
	border-color: black !important;
}

/* stolen from https://github.com/canicjusz/KaiOS-native-UI/blob/main/kaios-native-ui.css */
:root {
	--item-background: transparent;
	--item-text-color: black;
	--item-subtext-color: black;
	--item-focused-background: #117777;
	--item-focused-text-color: white;
	--item-focused-subtext-color: white;
}

.list-item-icon {
	background: var(--item-background);
}

.list-item-icon__text {
	color: var(--item-text-color)
}

.list-item-icon__subtext {
  color: var(--item-subtext-color);
}

.list-item-icon:focus {
	background: var(--item-focused-background);
}

.list-item-icon:focus .list-item-icon__text {
  color: var(--item-focused-text-color);
}

.list-item-icon:focus .list-item-icon__subtext {
  color: var(--item-focused-subtext-color);
}

.list-item-icon {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
	opacity: 0;
}

.list-item-icon__text-container {
  margin-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item-icon__text {
  overflow: hidden;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}


.list-item-icon__subtext {
  word-wrap: break-word;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
	margin-top: 5px;
}


.list-item-icon__icon {
  height: 40px;
  width: 40px;
}

.bwa {
	position: absolute;
right: 0px;
transform: translateY(-22px);
opacity: 0.7;
}