/* fira-sans-300 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-500 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-600 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-700 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-900 - latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/fira-sans-v11-latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  font-family: "Fira Sans";
}

body,html {
  padding:0;
  margin:0;
  background: rgb(5,5,5);
  overflow: hidden;
}

video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  overflow: hidden;
}

#cap {
  color: white;
  width: 100%;
  overflow: visible;
  position: fixed;
  z-index: 200 !important;
  text-align: center;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  transition: all ease .2s;
}

#cap div {
  align-self: flex-end;
  background: rgba(0,0,0,0.5);
  font-size: 16px;
  font-weight: 600;
}

#hokuspokus:focus {
  outline:none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom:0;
  overflow: hidden;
  background: rgba(0,0,0,0);
}

/* controls */
@media (width:320px) {
#controls svg {
	width: 20px;
	height: 20px;
	fill:white;
  position: fixed;
}

#controls #arrow {
  filter:invert(100%);
  right: 0;
}

#menu {
  bottom: 0px;
right: 0px;
}

#controls {
  position: fixed;
  z-index: 210 !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  transition: opacity linear .3s;
  opacity: 1;
}

#play, #pause {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#skipfor {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

#skipback {
  top: 50%;
  transform: translateY(-50%);
}

#menu, #arrow {
  width:30px !important;
  height: 30px !important;
}

#orasan {
  position: absolute;
color: white;
bottom: 10px;
left: 5px;
}

#current-duration {
	font-weight: 700;
	font-size: 20px;
	display: inline-block
}

#total-duration {
	font-weight: 400;
	display: inline-block;
	font-size: 16px
}

#progress {
  background: #117777;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
}

.caps {
  transform: translateY(-20px);
}

#orasan * , #bolyum{
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}

#controls svg {
	filter: drop-shadow( 1px 1px 5px rgba(0, 0, 0, .7));
}

#bolyum {
  position: fixed;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
  z-index: 211 !important;
  transition: opacity linear .2s;
  opacity: 0;
}

#prog {
  position: absolute;
bottom: 0;
background: #117777;
width: 100%;
height: 0%;
transition: height ease .2s;
  opacity: 0.95;
}

}


  /* controls */
@media (width:240px) {


#backu {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  height: 70px;
}

#controls svg {
	fill:white;
  position: fixed;
	width: 30px;
	height: 30px;
}

#controls #arrow {
  filter:invert(100%);
  right: 0;
  bottom: 0;
}

#menu {
  bottom: 0px;
left: 0px;
}

#controls {
  position: fixed;
  z-index: 210 !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  transition: opacity linear .3s;
  opacity: 1;
}

#play, #pause {
  bottom: 3px;
  left: 50.5%;
  transform: translate(-50%, 0);
  width: 25px !important;
  height: 25px !important;
}

#skipfor {
  right: 72px;
  bottom: 5px;
  width: 20px !important;
  height: 20px !important;
}

#skipback {
  left: 72px;
  width: 20px !important;
  height: 20px !important;
  bottom: 5px;
}

#menu, #arrow {
  width:30px !important;
  height: 30px !important;
}

#orasan {
  position: absolute;
color: white;
bottom: 41px;
left: 5px;
}

#current-duration {
	font-weight: 700;
	font-size: 20px;
	display: inline-block
}

#total-duration {
	font-weight: 400;
	display: inline-block;
	font-size: 16px
}

#progress {
  background: #117777;
  position: absolute;
  bottom: 32px;
  left: 0;
  height: 5px;

}

.caps {
  transform: translateY(-60px)
}

#orasan * , #bolyum{
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}

#controls svg {
	filter: drop-shadow( 1px 1px 5px rgba(0, 0, 0, .7));
}

#bolyum {
  position: fixed;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
  z-index: 211 !important;
  transition: opacity linear .2s;
  opacity: 0;
}

#prog {
  position: absolute;
bottom: 0;
background: #117777;
width: 100%;
height: 0%;
transition: height ease .2s;
  opacity: 0.95;
}
}

.fill {
  object-fit: fill !important;
}

.crop1 {
  width: 133% !important;
}

.crop2 {
  height: 133% !important;
}